.results {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 320px;
    height: 1000px;
    overflow-y: scroll;
}

center {
    font-size: 30px;
    color: green;
}

.wrapper ul li .icon
{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #003147;
}